<div id="titre"><h1>Liste des articles</h1></div>
  
<div id="item">
	  <table>
	  <% @posts.each do |post| %>
  		<th><%= post.title %></th>
		<tr>
    	<td><strong>Auteur</strong> : <%= post.name %></td>
    	<td><strong>Contenu</strong> : <%= post.content %></td>
		
 		<td><div class="buttonFb"><%= link_to 'Afficher', post %></div></td>
 		<td><div class="buttonFb"><%= link_to 'Modifier', edit_post_path(post) %></div></td>
 		<td><div class="buttonFb"><%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Etes vous sur?' } %></div></td>
	  	</tr>
	  <% end %>
	</table></div>

<br />

<div class="buttonFb"><%= link_to 'Nouveau Post', new_post_path %></div>